body,html
{
    height: 100%;
    width: 100%;
    margin: 0%;
}
.face1
{
   width: 100%;
    height: 100%;
    background-image: url(../images/Artboard%201%20copy%2011.png);
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
}
.face2
{
  width: 100%;
    height: 100%;
    background-image: url(../images/Artboard%201%20copy%2012.png);
    background-size: contain;
    background-attachment: fixed;
    background-position: center;  
}
.face3
{
    width: 100%;
    height: 100%;
    background-image: url(../images/Artboard%201%20copy%2013.png);
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
}
.face4
{
    width: 100%;
    height: 100%;
    background-image: url(../images/Artboard%201%20copy%2014.png);
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
}
.face5
{
    width: 100%;
    height: 100%;
    background-image: url(../images/Artboard%201%20copy%2015.png);
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
}
.face6{
    width: 100%;
    height: 100%;
    background-image: url(../images/Artboard%201%20copy%2017.png);
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    
}
.face7{
    width: 100%;
    height: 100%;
    background-image: url(../images/Artboard%201%20copy%202.png);
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    
}
.face8{
    width: 100%;
    height: 100%;
    background-image: url(../images/Artboard%201%20copy%205.png);
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    
}
.face9{
    width: 100%;
    height: 100%;
    background-image: url(../images/Artboard%201%20copy%208.png);
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    
}